.navbar .nav-link {
  padding: 0;
  &.active {
    color: rgb(106, 255, 0);
  }
}

.bg-dark .nav-link {
  color: white;
  //   &.active {
  //     color: #007bff;
  //   }
}

.navbar {
  margin-bottom: 2.5rem;
}

section {
  border-top: 1px solid #dddddd;
  padding: 2rem 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
