.header-main {
  margin-bottom: 2.5rem;

  .navbar {
    flex-basis: 40%;
    .nav-item {
      flex-basis: 20%;
    }
    .nav-link {
      &.active {
        color: var(--primary-color);
      }
    }
    .container {
      justify-content: flex-end;
    }
    &.bg-dark .nav-link {
      color: white;
    }
  }
}
