body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--dark-gray);
}
a {
  color: var(--secondary-color);
  &:hover {
    color: var(--primary-color);
  }
}

h1 {
  color: var(--primary-color);
  font-weight: 300;
}
h2,
.h2 {
  font-size: var(--font-size-lg);
  color: var(--primary-color);
  font-weight: 300;

  @include media-breakpoint-up(sm) {
    font-size: calc(var(--font-size-lg) * 1.125);
  }

  @include media-breakpoint-up(md) {
    font-size: calc(var(--font-size-lg) * 1.175);
  }
}

h4,
.h4 {
  font-size: 1.25rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  //padding: 2rem 0;
  margin: 2rem 0;

  .section-title {
    padding: 0.5em 0 1em;
    flex-basis: 100%;
  }
  &.bg-img {
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 40vh;
    background-size: cover;
    background-position: center center;
  }
  &:first-child.bg-img {
    margin-top: 0;
  }

  &.c-hero {
    margin-top: 0;
    padding-top: 0;
    min-height: 50vh;
  }
}

//Buttons
.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

// Variants
.special-heading {
  font-family: var(--font-family-special);
  font-size: calc(var(--font-size-xlg) * 1.15);
}
