body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--basic-gray);
}
a {
  color: var(--secondary-color);
  &:hover {
    color: var(--primary-color);
  }
}

h1 {
  color: var(--primary-color);
}
h2,
.h2 {
  font-size: var(--font-size-lg);
  color: var(--secondary-color);
}

h4,
.h4 {
  font-size: 1.25rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

section {
  //border-top: 1px solid #dddddd;
  padding: 2rem 0;

  &.hero {
    padding-top: 0;
  }
}
.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

// Variants
.special-heading {
  font-family: var(--font-family-special);
  font-size: calc(var(--font-size-xlg) * 1.15);
}
