/*This until color-mod is cool with W3C - these are colors that we're modifying using existing functions in Sass*/
$primary-color: #ed1249;
$primary-light: lighten($primary-color, 42.5%);
//$secondary-color: #0037ca;
//$secondary-color: #089fc7;
$secondary-color: #0632a6;
$secondary-light: lighten($secondary-color, 50%);
//need to use in sass font-size functions
$base-font-size: 1em;
$scale-factor: 1.25;
:root {
  //Fonts
  --base-font-size: 1em;
  --scale-factor: #{$scale-factor};
  --font-size: calc(1rem + 0.25vw);
  --font-size-xsm: calc(0.625rem + 0.25vw);
  --font-size-sm: calc(0.75rem + 0.25vw);
  --font-size-med: calc(1.5rem + 0.25vw);
  --font-size-lg: calc(2rem + 0.25vw);
  --font-size-xlg: calc(3rem + 0.25vw);
  --font-family: ProximaNova, 'Helvetica Neue', sans-serif;
  --font-family-cursive: Scriptina, cursive;
  --font-family-heading: Novecento;
  //Colors
  --primary-color: #{$primary-color};
  --primary-light: #{$primary-light};
  //--secondary-color: #066aad;
  //--secondary-color: #4106a8;
  --secondary-color: #{$secondary-color};
  --secondary-light: #{$secondary-light};
  // --secondary-color: #17a2b8;
  --basic-gray: #626364;
  --dark-gray: #3b2734; //matches navbar
  --lighter-gray: #929394;
  --button-learn-bg: var(--secondary-color);
}
