.col-group > div.acf-input > .acf-fields {
  display: flex !important; }
  .col-group > div.acf-input > .acf-fields .dyn-col {
    flex: auto !important; }

/*
.col-group > div.acf-input > .acf-fields > .dyn-col {
	flex:auto !important;
}
*/
/*
#col-1, .dyn-col {
		flex:auto !important;
	}
*/
